@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?42482630');
  src: url('../font/fontello.eot?42482630#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?42482630') format('woff2'),
       url('../font/fontello.woff?42482630') format('woff'),
       url('../font/fontello.ttf?42482630') format('truetype'),
       url('../font/fontello.svg?42482630#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?42482630#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\e802'; } /* '' */
.icon-th-list:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-plus-circled:before { content: '\e807'; } /* '' */
.icon-plus-squared:before { content: '\e808'; } /* '' */
.icon-plus-squared-alt:before { content: '\e809'; } /* '' */
.icon-user-plus:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-user-times:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e80d'; } /* '' */
.icon-lock-open:before { content: '\e80e'; } /* '' */
.icon-lock-open-alt:before { content: '\e80f'; } /* '' */
.icon-link-ext:before { content: '\e810'; } /* '' */
.icon-link-ext-alt:before { content: '\e811'; } /* '' */
.icon-ok-squared:before { content: '\e812'; } /* '' */
.icon-comment:before { content: '\e813'; } /* '' */
.icon-video:before { content: '\e814'; } /* '' */
.icon-videocam:before { content: '\e815'; } /* '' */
.icon-picture:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-heart:before { content: '\e818'; } /* '' */
.icon-star:before { content: '\e819'; } /* '' */
.icon-star-empty:before { content: '\e81a'; } /* '' */
.icon-star-half:before { content: '\e81b'; } /* '' */
.icon-star-half-alt:before { content: '\e81c'; } /* '' */
.icon-thumbs-up:before { content: '\e81d'; } /* '' */
.icon-thumbs-down:before { content: '\e81e'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e81f'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e820'; } /* '' */
.icon-down-open:before { content: '\e821'; } /* '' */
.icon-left-open:before { content: '\e822'; } /* '' */
.icon-right-open:before { content: '\e823'; } /* '' */
.icon-up-open:before { content: '\e824'; } /* '' */
.icon-angle-left:before { content: '\e825'; } /* '' */
.icon-angle-right:before { content: '\e826'; } /* '' */
.icon-angle-up:before { content: '\e827'; } /* '' */
.icon-angle-down:before { content: '\e828'; } /* '' */
.icon-mute:before { content: '\e829'; } /* '' */
.icon-basket:before { content: '\e82a'; } /* '' */
.icon-cart-plus:before { content: '\e82b'; } /* '' */
.icon-cart-arrow-down:before { content: '\e82c'; } /* '' */
.icon-ok-circled:before { content: '\e82d'; } /* '' */
.icon-ok-circled2:before { content: '\e82e'; } /* '' */
.icon-cancel-circled:before { content: '\e82f'; } /* '' */
.icon-cancel-circled2:before { content: '\e830'; } /* '' */
.icon-wifi:before { content: '\e831'; } /* '' */
.icon-signal:before { content: '\e832'; } /* '' */
.icon-leaf:before { content: '\e833'; } /* '' */
.icon-paper-plane-empty:before { content: '\e834'; } /* '' */
.icon-paper-plane:before { content: '\e835'; } /* '' */
.icon-mobile:before { content: '\e836'; } /* '' */
.icon-sun:before { content: '\e837'; } /* '' */
.icon-cloud:before { content: '\e838'; } /* '' */
.icon-flash:before { content: '\e839'; } /* '' */
.icon-moon:before { content: '\e83a'; } /* '' */
.icon-umbrella:before { content: '\e83b'; } /* '' */
.icon-flight:before { content: '\e83c'; } /* '' */
.icon-cc-visa:before { content: '\e83d'; } /* '' */
.icon-cc-mastercard:before { content: '\e83e'; } /* '' */
.icon-cc-discover:before { content: '\e83f'; } /* '' */
.icon-cc-amex:before { content: '\e840'; } /* '' */
.icon-cc-paypal:before { content: '\e841'; } /* '' */
.icon-cc-stripe:before { content: '\e842'; } /* '' */
.icon-apple:before { content: '\e843'; } /* '' */
.icon-android:before { content: '\e844'; } /* '' */
.icon-progress-0:before { content: '\e845'; } /* '' */
.icon-progress-1:before { content: '\e846'; } /* '' */
.icon-progress-2:before { content: '\e847'; } /* '' */
.icon-progress-3:before { content: '\e848'; } /* '' */
.icon-progress-4:before { content: '\e849'; } /* '' */
.icon-progress-5:before { content: '\e84a'; } /* '' */
.icon-progress-6:before { content: '\e84b'; } /* '' */
.icon-progress-7:before { content: '\e84c'; } /* '' */
.icon-googleplus-rect:before { content: '\e84d'; } /* '' */
.icon-tumblr-rect:before { content: '\e84e'; } /* '' */
.icon-vimeo-rect:before { content: '\e84f'; } /* '' */
.icon-twitter-bird:before { content: '\e850'; } /* '' */
.icon-facebook-rect:before { content: '\e851'; } /* '' */
.icon-linkedin-rect:before { content: '\e852'; } /* '' */
.icon-skype:before { content: '\e853'; } /* '' */
.icon-vkontakte-rect:before { content: '\e854'; } /* '' */
.icon-youtube:before { content: '\e855'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\e856'; } /* '' */
.icon-windy-rain-inv:before { content: '\e858'; } /* '' */
.icon-snow-inv:before { content: '\e859'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e85a'; } /* '' */
.icon-hail-inv:before { content: '\e85b'; } /* '' */
.icon-clouds-inv:before { content: '\e85c'; } /* '' */
.icon-clouds-flash-inv:before { content: '\e85d'; } /* '' */
.icon-temperature:before { content: '\e85e'; } /* '' */
.icon-compass:before { content: '\e85f'; } /* '' */
.icon-na:before { content: '\e860'; } /* '' */
.icon-celcius:before { content: '\e861'; } /* '' */
.icon-fahrenheit:before { content: '\e862'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e863'; } /* '' */
.icon-sun-inv:before { content: '\e864'; } /* '' */
.icon-moon-inv:before { content: '\e865'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e866'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e867'; } /* '' */
.icon-cloud-inv:before { content: '\e868'; } /* '' */
.icon-cloud-flash-inv:before { content: '\e869'; } /* '' */
.icon-drizzle-inv:before { content: '\e86a'; } /* '' */
.icon-rain-inv:before { content: '\e86b'; } /* '' */
.icon-windy:before { content: '\e86c'; } /* '' */
.icon-rain:before { content: '\e86d'; } /* '' */
.icon-drizzle:before { content: '\e86e'; } /* '' */
.icon-cloud-flash-alt:before { content: '\e86f'; } /* '' */
.icon-cloud-flash:before { content: '\e870'; } /* '' */
.icon-cloud-1:before { content: '\e871'; } /* '' */
.icon-fog:before { content: '\e872'; } /* '' */
.icon-fog-cloud:before { content: '\e873'; } /* '' */
.icon-fog-moon:before { content: '\e874'; } /* '' */
.icon-fog-sun:before { content: '\e875'; } /* '' */
.icon-cloud-moon:before { content: '\e876'; } /* '' */
.icon-cloud-sun:before { content: '\e877'; } /* '' */
.icon-snowflake:before { content: '\e878'; } /* '' */
.icon-wind:before { content: '\e879'; } /* '' */
.icon-mist:before { content: '\e87a'; } /* '' */
.icon-eclipse:before { content: '\e87b'; } /* '' */
.icon-moon-1:before { content: '\e87c'; } /* '' */
.icon-sun-1:before { content: '\e87d'; } /* '' */
.icon-sunrise:before { content: '\e87e'; } /* '' */
.icon-windy-inv:before { content: '\e87f'; } /* '' */
.icon-windy-rain:before { content: '\e880'; } /* '' */
.icon-snow:before { content: '\e881'; } /* '' */
.icon-snow-alt:before { content: '\e882'; } /* '' */
.icon-snow-heavy:before { content: '\e883'; } /* '' */
.icon-hail:before { content: '\e884'; } /* '' */
.icon-clouds:before { content: '\e885'; } /* '' */
.icon-clouds-flash:before { content: '\e886'; } /* '' */
.icon-weibo:before { content: '\e887'; } /* '' */
.icon-wechat:before { content: '\e888'; } /* '' */
.icon-slideshare:before { content: '\e889'; } /* '' */
.icon-whatsapp:before { content: '\e88a'; } /* '' */
.icon-tencent-weibo:before { content: '\e88b'; } /* '' */
.icon-tumblr:before { content: '\e88c'; } /* '' */
.icon-youtube-1:before { content: '\e88d'; } /* '' */
.icon-wordpress:before { content: '\e88e'; } /* '' */
.icon-windows:before { content: '\e88f'; } /* '' */
.icon-twitter:before { content: '\e890'; } /* '' */
.icon-skype-1:before { content: '\e891'; } /* '' */
.icon-linux:before { content: '\e892'; } /* '' */
.icon-qq:before { content: '\e893'; } /* '' */
.icon-renren:before { content: '\e894'; } /* '' */
.icon-git:before { content: '\e895'; } /* '' */
.icon-github:before { content: '\e896'; } /* '' */
.icon-gplus:before { content: '\e897'; } /* '' */
.icon-google:before { content: '\e898'; } /* '' */
.icon-github-circled:before { content: '\e899'; } /* '' */
.icon-pied-piper-alt:before { content: '\e89a'; } /* '' */
.icon-heartbeat:before { content: '\e89b'; } /* '' */
.icon-diamond:before { content: '\e89c'; } /* '' */
.icon-birthday:before { content: '\e89d'; } /* '' */
.icon-yen:before { content: '\e89e'; } /* '' */
.icon-credit-card:before { content: '\e89f'; } /* '' */
.icon-chat:before { content: '\e8a0'; } /* '' */
.icon-comment-empty:before { content: '\e8a1'; } /* '' */
.icon-chat-empty:before { content: '\e8a2'; } /* '' */
.icon-location-1:before { content: '\e8a3'; } /* '' */
.icon-direction:before { content: '\e8a4'; } /* '' */
.icon-trash:before { content: '\e8a5'; } /* '' */
.icon-trash-empty:before { content: '\e8a6'; } /* '' */
.icon-calendar:before { content: '\e8a7'; } /* '' */
.icon-cog:before { content: '\e8a8'; } /* '' */
.icon-desktop:before { content: '\e8a9'; } /* '' */
.icon-laptop:before { content: '\e8aa'; } /* '' */
.icon-tablet:before { content: '\e8ab'; } /* '' */
.icon-inbox:before { content: '\e8ac'; } /* '' */
.icon-globe:before { content: '\e8ad'; } /* '' */
.icon-play:before { content: '\e8ae'; } /* '' */
.icon-play-circled:before { content: '\e8af'; } /* '' */
.icon-play-circled2:before { content: '\e8b0'; } /* '' */
.icon-stop:before { content: '\e8b1'; } /* '' */
.icon-pause:before { content: '\e8b2'; } /* '' */
.icon-to-end:before { content: '\e8b3'; } /* '' */
.icon-to-end-alt:before { content: '\e8b4'; } /* '' */
.icon-to-start:before { content: '\e8b5'; } /* '' */
.icon-to-start-alt:before { content: '\e8b6'; } /* '' */
.icon-fast-fw:before { content: '\e8b7'; } /* '' */
.icon-fast-bw:before { content: '\e8b8'; } /* '' */
.icon-eject:before { content: '\e8b9'; } /* '' */
.icon-adn:before { content: '\e8ba'; } /* '' */
.icon-angellist:before { content: '\e8bb'; } /* '' */
.icon-bitbucket:before { content: '\e8bc'; } /* '' */
.icon-bitbucket-squared:before { content: '\e8bd'; } /* '' */
.icon-buysellads:before { content: '\e8be'; } /* '' */
.icon-cc:before { content: '\e8bf'; } /* '' */
.icon-codeopen:before { content: '\e8c0'; } /* '' */
.icon-connectdevelop:before { content: '\e8c1'; } /* '' */
.icon-css3:before { content: '\e8c2'; } /* '' */
.icon-dashcube:before { content: '\e8c3'; } /* '' */
.icon-delicious:before { content: '\e8c4'; } /* '' */
.icon-facebook:before { content: '\e8c5'; } /* '' */
.icon-facebook-squared:before { content: '\e8c6'; } /* '' */
.icon-git-squared:before { content: '\e8c7'; } /* '' */
.icon-github-squared:before { content: '\e8c8'; } /* '' */
.icon-star-1:before { content: '\e8c9'; } /* '' */
.icon-star-empty-1:before { content: '\e8ca'; } /* '' */
.icon-star-half-1:before { content: '\e8cb'; } /* '' */
.icon-star-half_empty:before { content: '\e8cc'; } /* '' */